@import "base";

body, html {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.incompatible {
  display: none;
  background-color: $foreground;
}

.too-small {
  display: none;
  background-color: $foreground;
}

@include max-screen(319px) {
  /* too small */
  .too-small {
    display: block;
  }
}

@include max-screen(1024px) {
  .mdt-applets {
    width: 100%;
    height: 92%;
    top: 8%;
  }
  .menu_primary {
    left: 0;
    top: 0;
    width: 100%;
    height: 7.99%;
  }
  .menu_primary > .mdt-applet-selector {
    float: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .menu_primary > .mdt-applet-selector.selected {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

@include min-screen(1025px) {
  .mdt-applets {
    height: 100%;
    top: 0;
    width: 60%;
  }
  .menu_primary {
    right: 80%;
    top: 0;
    width: 75px;
    height: 100%;
  }
  .menu_primary > .mdt-applet-selector {
    float: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .menu_primary > .mdt-applet-selector.selected {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.mdt-applets {
  position: relative;

  margin: 0 auto;
  background-color: $foreground;
}

.mdt-frame {
  position: absolute;

  width: 100%;
  height: 100%;
}

.menu_primary {
  position: absolute;
  top: 0;
}

.mdt-applet-selector {
  width: 75px;
  height: 75px;
  font-size: 0.85em;
  text-align: center;
}

.mdt-applet-selector.selected {
  width: 75px;
  height: 75px;
  font-size: 0.85em;
  text-align: center;
  background-color: $foreground;
}

.nav-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0 auto;
}

.mdt-applet-selector:active {
  background-color: $foreground;
}

.mdt-applet-selector:hover {
  background-color: $hover;
}

