@import "../modules/colours";

.mdt-prompt-input {
  position: relative;

  width: 290px;
  height: 90px;

  margin: 0 auto;
  margin-top: 22.5%;

  padding: 5px;
}

.mdt-prompt-input-field {
  width: 98%;
}

.mdt-prompt-file {
  position: relative;

  width: 290px;
  height: 66%;

  margin: 0 auto;
  margin-top: 7%;

  padding: 5px;
}

.mdt-prompt-bool {
  position: relative;

  width: 290px;
  height: 120px;

  margin: 0 auto;
  margin-top: 22.5%;

  padding: 5px;
}


.mdt-prompt-bool, .mdt-prompt-input, .mdt-prompt-file {
  background-color: $background;

  border-radius: 7px;
  border-width: 1px;
  border-color: $background;
}

.mdt-prompt-file-list {
  width: 100%;
  height: 90%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.mdt-prompt-file-item {
  height: 1.2em;
}

.mdt-prompt-bool-buttons, .mdt-prompt-input-buttons, .mdt-prompt-file-controls {
  position: absolute;

  height: 55px;
  width: 50%;

  bottom: 0;
  right: 0;
}

.mdt_prompt_select {
  background-color: $prompt-shadow;
  color: white;
}