/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
/* line 8, ../scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../scss/partials/_base.scss */
textarea {
  resize: none;
  overflow: auto;
}

/* line 9, ../scss/partials/_base.scss */
form, div {
  width: 100%;
  height: 100%;
}

/* CSS borrowed from https://github.com/jasonm23/markdown-css-themes/blob/gh-pages/foghorn.css */
/* line 18, ../scss/partials/_base.scss */
body, textarea, a {
  font: 1.2em "Vollkorn", Palatino, Times;
  line-height: 1.4;
  text-align: justify;
  overflow: hidden;
}

/* line 25, ../scss/partials/_base.scss */
header, nav, article, footer {
  margin: 0 auto;
}

/* line 28, ../scss/partials/_base.scss */
article {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* line 32, ../scss/partials/_base.scss */
footer {
  margin-bottom: 50px;
}

/* line 36, ../scss/partials/_base.scss */
nav {
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

/* line 42, ../scss/partials/_base.scss */
nav p {
  margin: 0;
}

/* line 3, ../scss/partials/_typography.scss */
h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.8em;
}

/* line 8, ../scss/partials/_typography.scss */
h2 {
  font-weight: normal;
  font-size: 1.55em;
}

/* line 12, ../scss/partials/_typography.scss */
h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.45em;
}

/* line 17, ../scss/partials/_typography.scss */
p {
  margin-top: 0;
  -webkit-hypens: auto;
  -moz-hypens: auto;
  hyphens: auto;
}

/* line 23, ../scss/partials/_typography.scss */
ul {
  list-style: square;
  padding-left: 1.2em;
}

/* line 27, ../scss/partials/_typography.scss */
ol {
  padding-left: 1.2em;
}

/* line 30, ../scss/partials/_typography.scss */
blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #ddd;
}

/* line 35, ../scss/partials/_typography.scss */
code {
  font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
  font-size: .9em;
  background: white;
}

/* line 40, ../scss/partials/_typography.scss */
a {
  color: #2484c1;
  text-decoration: none;
}

/* line 44, ../scss/partials/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 47, ../scss/partials/_typography.scss */
a img {
  border: none;
}

/* line 50, ../scss/partials/_typography.scss */
h1 a, h1 a:hover {
  color: #333;
  text-decoration: none;
}

/* line 54, ../scss/partials/_typography.scss */
hr {
  color: #ddd;
  height: 1px;
  margin: 2em 0;
  border-top: solid 1px #ddd;
  border-bottom: none;
  border-left: 0;
  border-right: 0;
}

/* line 63, ../scss/partials/_typography.scss */
.mdt-md-input {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* line 4, ../scss/partials/_base.scss */
textarea {
  resize: none;
  overflow: auto;
}

/* line 9, ../scss/partials/_base.scss */
form, div {
  width: 100%;
  height: 100%;
}

/* CSS borrowed from https://github.com/jasonm23/markdown-css-themes/blob/gh-pages/foghorn.css */
/* line 18, ../scss/partials/_base.scss */
body, textarea, a {
  font: 1.2em "Vollkorn", Palatino, Times;
  line-height: 1.4;
  text-align: justify;
  overflow: hidden;
}

/* line 25, ../scss/partials/_base.scss */
header, nav, article, footer {
  margin: 0 auto;
}

/* line 28, ../scss/partials/_base.scss */
article {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* line 32, ../scss/partials/_base.scss */
footer {
  margin-bottom: 50px;
}

/* line 36, ../scss/partials/_base.scss */
nav {
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

/* line 42, ../scss/partials/_base.scss */
nav p {
  margin: 0;
}

/* line 3, ../scss/partials/_frame.scss */
body, html {
  width: 100%;
  height: 100%;
  background-color: #9ab8c8;
}

/* line 9, ../scss/partials/_frame.scss */
.incompatible {
  display: none;
  background-color: #d0dce2;
}

/* line 14, ../scss/partials/_frame.scss */
.too-small {
  display: none;
  background-color: #d0dce2;
}

@media screen and (max-width: 319px) {
  /* too small */
  /* line 21, ../scss/partials/_frame.scss */
  .too-small {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  /* line 27, ../scss/partials/_frame.scss */
  .mdt-applets {
    width: 100%;
    height: 92%;
    top: 8%;
  }

  /* line 32, ../scss/partials/_frame.scss */
  .menu-primary {
    float: left;
    left: 0;
    top: 0;
    width: 49%;
    height: 7.99%;
  }

  /* line 39, ../scss/partials/_frame.scss */
  .menu-secondary {
    float: right;
    top: 0;
    right: 0;
    width: 49%;
    height: 7.99%;
  }

  /* line 46, ../scss/partials/_frame.scss */
  .menu-secondary > div {
    float: none;
  }

  /* line 49, ../scss/partials/_frame.scss */
  .menu-primary > .mdt-applet-selector {
    float: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  /* line 54, ../scss/partials/_frame.scss */
  .menu-secondary > .mdt-applet-selector {
    float: right;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 62, ../scss/partials/_frame.scss */
  .mdt-applets {
    height: 100%;
    top: 0;
    width: 60%;
  }

  /* line 67, ../scss/partials/_frame.scss */
  .menu-primary {
    float: none;
    right: 80%;
    top: 0;
    width: 75px;
    height: 100%;
  }

  /* line 74, ../scss/partials/_frame.scss */
  .menu-secondary {
    float: none;
    left: 80%;
    bottom: 0;
    width: 75px;
    height: 100%;
  }

  /* line 81, ../scss/partials/_frame.scss */
  .menu-primary > .mdt-applet-selector {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  /* line 85, ../scss/partials/_frame.scss */
  .menu-secondary > .mdt-applet-selector {
    bottom: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
/* line 92, ../scss/partials/_frame.scss */
.mdt-applets {
  position: relative;
  margin: 0 auto;
  background-color: #d0dce2;
}

/* line 99, ../scss/partials/_frame.scss */
.mdt-frame {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 106, ../scss/partials/_frame.scss */
.menu-primary, .menu-secondary {
  position: absolute;
}

/* line 110, ../scss/partials/_frame.scss */
.mdt-applet-selector {
  display: block;
  width: 75px;
  height: 75px;
  font-size: 0.75em;
  text-align: center;
  color: black;
}

/* line 120, ../scss/partials/_frame.scss */
.mdt-applet-selector:active {
  color: black;
}

/* line 124, ../scss/partials/_frame.scss */
.mdt-applet-selector:hover {
  color: black;
}

/* line 128, ../scss/partials/_frame.scss */
.mdt-applet-selector > div {
  width: 100%;
  height: 1em;
}

/* line 133, ../scss/partials/_frame.scss */
.mdt-applet-selector.selected {
  width: 75px;
  height: 75px;
  font-size: 0.85em;
  text-align: center;
  background-color: #d0dce2;
}

/* line 141, ../scss/partials/_frame.scss */
.nav-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0 auto;
}

/* line 148, ../scss/partials/_frame.scss */
.mdt-applet-selector:active {
  background-color: #d0dce2;
}

/* line 152, ../scss/partials/_frame.scss */
.mdt-applet-selector:hover {
  background-color: #f9fca7;
}

/* line 156, ../scss/partials/_frame.scss */
.mdt-prompt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 214, 226, 0.5);
  z-index: 1000;
}

/* line 1, ../scss/partials/_reference.scss */
.app-reference {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 11, ../scss/partials/_reference.scss */
.reference-line {
  width: 90%;
  height: 1.5em;
  margin-bottom: 1%;
  margin-left: 3%;
  margin-right: 3%;
}

/* line 19, ../scss/partials/_reference.scss */
.reference-line-double {
  height: 2.5em;
}

/* line 23, ../scss/partials/_reference.scss */
.reference-line-quad {
  height: 5.5em;
  margin-bottom: 20px;
}

/* line 28, ../scss/partials/_reference.scss */
.reference-line > form {
  float: left;
  width: 48.5%;
  height: 100%;
  margin-right: 1%;
}

/* line 35, ../scss/partials/_reference.scss */
.reference-line > form > .mdt-md-input {
  width: 100%;
  font-size: 82.5%;
  height: 100%;
}

/* line 41, ../scss/partials/_reference.scss */
.reference-line > .mdt-md-output {
  float: right;
  width: 48.5%;
}

/* line 4, ../scss/partials/_base.scss */
textarea {
  resize: none;
  overflow: auto;
}

/* line 9, ../scss/partials/_base.scss */
form, div {
  width: 100%;
  height: 100%;
}

/* CSS borrowed from https://github.com/jasonm23/markdown-css-themes/blob/gh-pages/foghorn.css */
/* line 18, ../scss/partials/_base.scss */
body, textarea, a {
  font: 1.2em "Vollkorn", Palatino, Times;
  line-height: 1.4;
  text-align: justify;
  overflow: hidden;
}

/* line 25, ../scss/partials/_base.scss */
header, nav, article, footer {
  margin: 0 auto;
}

/* line 28, ../scss/partials/_base.scss */
article {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* line 32, ../scss/partials/_base.scss */
footer {
  margin-bottom: 50px;
}

/* line 36, ../scss/partials/_base.scss */
nav {
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

/* line 42, ../scss/partials/_base.scss */
nav p {
  margin: 0;
}

@media screen and (max-width: 319px) {
  /* line 4, ../scss/partials/_sandbox.scss */
  body {
    font-size: 70%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 10, ../scss/partials/_sandbox.scss */
  body {
    font-size: 85%;
  }
}
@media screen and (min-width: 1025px) {
  /* line 16, ../scss/partials/_sandbox.scss */
  body {
    font-size: 100%;
  }
}
/* line 21, ../scss/partials/_sandbox.scss */
.app-sandbox {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 27, ../scss/partials/_sandbox.scss */
.app-sandbox > form {
  width: 100%;
  height: 100%;
}

/* line 32, ../scss/partials/_sandbox.scss */
.app-sandbox > form > .mdt-md-input {
  background-color: #fdfcff;
  /* background-color: blue; */
  position: absolute;
  font-size: 49.0%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 46.5%;
  /* 23em;*/
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #9ab8c8;
  border-radius: 7px;
  margin: 0.25%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1%;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 60, ../scss/partials/_sandbox.scss */
.app-sandbox > .mdt-md-output > p {
  margin-top: 0.05em;
  margin-bottom: 0.05em;
}

/* line 65, ../scss/partials/_sandbox.scss */
.app-sandbox > .mdt-md-output {
  background-color: #fdfcff;
  /* background-color: red; */
  position: absolute;
  width: 46.5%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #9ab8c8;
  border-radius: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0.25%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1%;
  padding-top: 0;
  padding-bottom: 0;
  word-wrap: break-word;
}

/* line 4, ../scss/partials/_base.scss */
textarea {
  resize: none;
  overflow: auto;
}

/* line 9, ../scss/partials/_base.scss */
form, div {
  width: 100%;
  height: 100%;
}

/* CSS borrowed from https://github.com/jasonm23/markdown-css-themes/blob/gh-pages/foghorn.css */
/* line 18, ../scss/partials/_base.scss */
body, textarea, a {
  font: 1.2em "Vollkorn", Palatino, Times;
  line-height: 1.4;
  text-align: justify;
  overflow: hidden;
}

/* line 25, ../scss/partials/_base.scss */
header, nav, article, footer {
  margin: 0 auto;
}

/* line 28, ../scss/partials/_base.scss */
article {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* line 32, ../scss/partials/_base.scss */
footer {
  margin-bottom: 50px;
}

/* line 36, ../scss/partials/_base.scss */
nav {
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

/* line 42, ../scss/partials/_base.scss */
nav p {
  margin: 0;
}

/* line 3, ../scss/partials/_about.scss */
.mdt-about {
  padding: 1%;
  width: 98.0%;
  height: 98.0%;
  background-color: #d0dce2;
}

/* line 10, ../scss/partials/_about.scss */
.mdt-readme {
  padding: 2.5%;
  width: 95%;
  height: 95%;
  background-color: #fdfcff;
  border-radius: 7px;
}

/* line 3, ../scss/partials/_prompt.scss */
.mdt-prompt-input {
  position: absolute;
  width: 50%;
  height: 33%;
  left: 25%;
  top: 33%;
}

/* line 12, ../scss/partials/_prompt.scss */
.mdt_prompt_select {
  background-color: #9ab8c8;
  color: white;
}
